### Application ###
application-*.properties
.env
.generated
auto-components.d.ts
auto-imports.d.ts

### Maven ###

target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Mac OS ###
.DS_Store

### Windows ###
.thumbs.db

### Quasar ###
node_modules

# Quasar core related directories
.quasar
dist

# Cordova related directories and files
src-cordova/node_modules
src-cordova/platforms
src-cordova/plugins
src-cordova/www

# Capacitor related directories and files
src-capacitor/www
src-capacitor/node_modules

# BEX related directories and files
src-bex/www
src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
